version: '3.8'

services:
  db:
    image: postgres:15-alpine 
    container_name: taskflow-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: taskflow_user
      POSTGRES_PASSWORD: taskflow_pass
      POSTGRES_DB: taskflow_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: